ul {
  font-size: 14px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-form {
  margin-left: -1px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

::placeholder {
  color: black;
  padding-bottom: 1px;
}

.search-icon {
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: #F0F0F0;
  position: relative;
  height: 19px;
  left: -5px;
  top: -1px;
  padding-top: 0px;
}

table {
  text-align: center;
  width: 40%;
  height: 100%;
}

td {
  width: 25%;
}

div {
  border:2px solid red;
}

.a {
  color: hotpink;
  font-family: Arial;
}

.b {
  color: pink;
  font-family: Courier;
}

.c {
  color: lightpink;
  font-family: Corsiva;
}

.search-icon2 {
  background-color: #F0F0F0;
  border: 1px solid lightgray;
  border-radius: 1px;
  margin-left: -0.25px;
  margin-bottom: -0.3px;
  padding-bottom: 4px;
}

textarea {
  border: 1px solid lightgray;
}
