.box2 {
  background-color: white;
  height: 600px;
  margin-top: 20px;
  position: relative;
  padding-bottom: 100px;
}

.box2 > img {
  width: 100%;
  height: 100%;
  position: relative;
}

.messageBox {
  height: 80px;
  width: 35%;
  position: absolute;
  top: 67%;
  right: 30px;
  background-color: gray;
  opacity: 0.7;
  text-align: center;
  padding-bottom: 20px;
}

.box {
  background-color: tan;
  padding-top: 20px;
  padding-bottom: 28%;
  height: 350px;
  width: 92%;
  position: relative;
  margin-left: 4%;
}

.box > h1 {
  background-color: pink;
  width: 36%;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 30px;
}

.sub {
  width: 23%;
  height: 40%;
  float: left;
  margin-left: 1.6%;
  text-align: center;
}

.sub > img {
  width: 100%;
  height: 200px;
  padding-bottom: 10px;
}

.sub > a {
  font-size: 20px;
}

.sub > p {
  margin: 10px 10px 10px 10px;
}

.sub > button {
  border-radius: 5px;
}

.clock {
  margin-top: 59%;
  margin-left: 9.9%;
  background-color: pink;
  width: 80%;
  height: 750px;
  position: relative;
}

.clock > img {
  height: 85%;
  width: 70%;
  display: block;
  margin: auto;
  padding-top: 6.5%;
  position: relative;
}

#hourhand {
  height: 110px;
  width: 170px;
  top: 35%;
  right: 32.5%;
  position: absolute;
  animation-name: movehourhand;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: center left;
}

#minutehand {
  height: 100px;
  width: 200px;
  top: 41%;
  left: 47%;
  position: absolute;
  animation-name: moveminutehand;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: center left;
  /* transform: scaleX(0.1); */
}

@keyframes movehourhand {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(27deg)}
}

@keyframes moveminutehand {
  0% {transform: rotate(-90deg)}
  100% {transform: rotate(270deg)}
}
