.ThingsToDo {
  background-color: pink;
  border: 2px solid black;
}

figure {
  margin-left: 35px;
}

.a {
  height: 40%;
  width: 40%;
  border: 2px solid #0F52BA;
  padding: 1px 1px 0px 0px;
}

.b {
  height: 40%;
  width: 40%;
  border: 2px solid #0F52BA;
  padding: 0px 1px 1px 0px;
}

li::marker {
  font-size: 9px
}

cite {
  margin-bottom: 0
}

blockquote {
  margin-top: 0
}

.Cost {
  margin-bottom: 5px
}

th {
  font-weight: normal;
  border: none
}

nav {
  text-align: center;
  font-size: 20px
}

.A,.B,.C,.D {
  font-size: 20px;
  display: inline;
  float: center;
  border-right: 1px solid;
  padding: 0 1em;
}
