div {
  margin-left: 10px;
  margin-right: 20px
}

img {
  min-width: 32%;
  max-width: 32%;
  min-height: 280px;
  max-height: 280px;
  border: 2px solid black;
  float: left;
  margin-right: 2px
}

.northernLights::after {
  content: "";
  clear: both;
  display: table
}

.A,.B,.C,.D {
  font-size: 20px;
  display: inline;
  border-right: 1px solid;
  padding: 0 0.7em
}
